body {
	margin: 0 0;
	padding: 0 0;
	/*min-width: 230px;*/
	text-align: center;
	font-family: Helvetica, "microsoft yahei";
	background-color: #f5f5f5;
}

html, body {
	font-size: 10px;
}

p {
	margin: 0 0;
	padding: 0 0;
}

/* 清除浮动 */
.clearfloat {
	zoom: 1;
}
.clearfloat:after {
	display: block;
	clear: both;
	height: 0;
	content: "";
	visibility: hidden;
}

/* 两端对齐 */
.text-justify {
	text-align: justify;
}
.text-justify:after {
	display: inline-block;
	width: 100%;
	height: 0;
	content: '';
	overflow: hidden;
}

/* header */
header {
	position: relative;
	height: 44px;
	line-height: 44px;
	text-align: center;
	background-color: white;
	border-bottom: 1px solid #ddd;
}

header span {
	color: #ee4433;
	font-size: 2rem;
}

.header-img {
	position: absolute;
	top: 7px;
	width: 30px;
}

.header-img:first-child {
	left: 18px;
}

.header-img:last-child {
	right: 18px;
}

/* 红包 */
.hongbao {
	position: relative;
	margin-top: 13px;
	height: 88px;
	background-color: white;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.hongbao-img {
	position: absolute;
	left: 18px;
	top: 14px;
	width: 60px;
}

.hongbao-info {
	position: absolute;
	left: 90px;
	right: 0px;
	padding: 0 3px;
	text-align: left;
}

.hongbao-info p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hongbao-info p:nth-child(1) {
	margin-top: 20px;
	line-height: 20px;
	font-size: 2rem;
}

.hongbao-info p:nth-child(2) {
	position: relative;
	margin-top: 12px;
	line-height: 15px;
}

.hongbao-info p em, .hongbao-info p a{
	line-height: 15px;
	color: #ee4433;
	font-style: normal;
}

.hongbao-info p em {
	font-size: 1.8rem;
}

.hongbao-info p a {
	position: absolute;
	top: 1px;
	right: 18px;
	font-size: 1.2rem;
	text-decoration: none;
}

/* 表单 */
.form-info {
	position: relative;
	margin-top: 12px;
	font-size: 1.6rem;
	background-color: white;
}

.form-item {
	display: -webkit-box;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #ddd;
}

.form-item:last-child {
	border-bottom: none;
}

.item-name {
	margin: 0 10px 0 15px;
	width: 64px;
}

.item-value {
	-webkit-box-flex: 1;
	text-align: left;
}

.item-value input{
	width: 100%;
	border: none;
	font-size: 1.6rem;
	font-family: Helvetica, "microsoft yahei";
	padding: 13px 5px;
}

.code {
	margin-top: 6px;
	margin-right: 15px;
	width: 95px;
	height: 30px;
	line-height: 30px;
	color: #999999;
	border: 1px solid #ddd;
}

warnning {
	display: none;
	position: absolute;
	top: 27px;
	left: 91px;
	right: 91px;
	height: 40px;
	line-height: 40px;
	font-size: 1.5rem;
	text-align: center;
	color: white;
	background-color: #606060;
	opacity: 0.5;
	border-radius: 6px;
}

.form-agree {
	position: relative;
	margin-top: 12px;
	padding-left: 15px;
	height: 17px;
	line-height: 17px;
	font-size: 1.2rem;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
}

.form-agree input {
	position: absolute;
	margin: 0 0;
	width: 11px;
	height: 11px;
	border: 1px solid #ebebeb;
	background-color: white;
}

.form-agree div {
	position: absolute;
	width: 13px;
	height: 13px;
	border: 2px solid #ddd;
	background-color: white;
}

.form-checked {
	background: url(../images/ok.png) no-repeat;
	background-size: 13px 13px; 
}

.form-agree label {
	position: absolute;
	left: 42px;
	color: #999999;
}

.form-agree a {
	text-decoration: none;
	color: #ee4433;
}

.form-btn {
	margin: 28px 15px 0; 
	min-width: 100px;
	height: 40px;
	line-height: 40px;
	font-size: 1.7rem;
	color: white;
	background-color: #ee4433;
}

.form-btn-disabled {
	background-color: #ff8282;
}

/* input框字体颜色 */
::-webkit-input-placeholder {
	color: #cfcfcf;
}
::-moz-placeholder {
	color: #cfcfcf;
}